<h3 align="center" class="mt-3" style="border-bottom: 1px solid lightgrey">SIGN UP FORM</h3>

<div class="row todo-container p-2" style="max-height: 70vh; overflow-y: auto">
    <!-- <form (ngSubmit)="processTemplateForm()" class="col-12">
        <input placeholder="First Name" name="lName" [(ngModel)]="lName" class="form-control" #lastName="ngModel" [class.is-invalid]="lastName.dirty && lastName.invalid"  required>
        <br>
        <input placeholder="Last Name" name="fName" [(ngModel)]="fName" class="form-control" required #firstName="ngModel" [class.is-invalid]="firstName.dirty && firstName.invalid"><br>
        <input placeholder="Phone Number" name="pNumber" [(ngModel)]="pNumber" 
                class="form-control" required minlength="11" #phone="ngModel" 
                [class.is-invalid]="phone.dirty && phone.invalid" 
                [class.is-valid]="phone.dirty && phone.valid"><br>
        <div *ngIf="phone.dirty && phone.invalid">
            <small class="text-danger" *ngIf="phone.errors.required">Phone Number is required</small>
            <small class="text-danger" *ngIf="phone.errors.minlength">Phone Number requires minimum of 11 characters</small>
        </div>
        <input placeholder="Email" name="email" [(ngModel)]="email" class="form-control" appEmailValidator required #em="ngModel" [class.is-invalid]="em.dirty && em.invalid"><br>
        <input placeholder="Password" type="password" name="password" [(ngModel)]="password" class="form-control" ><br>
        <select [(ngModel)]="gender" class="form-control" name="gender">
            <option>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>
        <p align="center"><button class="btn btn-danger" >Submit</button></p>
    </form> -->
    <form class="col-12" (submit)="processForm()" [formGroup]="profileForm">
        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [class.is-invalid]="profileForm.get('firstName').dirty && profileForm.get('firstName').invalid" [class.is-valid]="profileForm.get('firstName').touched && profileForm.get('firstName').valid">  <br>
        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [class.is-invalid]="profileForm.get('lastName').dirty && profileForm.get('lastName').invalid" [class.is-valid]="profileForm.get('lastName').touched && profileForm.get('lastName').valid"> <br>
        <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" formControlName="phoneNumber" [class.is-invalid]="profileForm.get('phoneNumber').dirty && profileForm.get('phoneNumber').invalid" [class.is-valid]="profileForm.get('phoneNumber').touched && profileForm.get('phoneNumber').valid"> <br>
        <input type="email" class="form-control" placeholder="Email" formControlName="email" [class.is-invalid]="profileForm.get('email').dirty && profileForm.get('email').invalid" [class.is-valid]="profileForm.get('email').touched && profileForm.get('email').valid"> <br>
        <input type="password" class="form-control" placeholder="Password" formControlName="password" [class.is-invalid]="profileForm.get('password').dirty && profileForm.get('password').invalid" [class.is-valid]="profileForm.get('password').touched && profileForm.get('password').valid"> <br>
        <select formControlName="gender" class="form-control">
            <option>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>
        
        <p align="center"><button class="btn btn-danger" [disabled]="!profileForm.valid">Submit</button></p>
    </form>
</div>
