<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- TEMPLATE DRIVEN FORM -->
            <form class="mt-5" style="border: none !important">
                <input type="text" required class="form-control" placeholder="First Name" [(ngModel)]="fName" name="fName" #fname="ngModel" [class.is-invalid]="fname.invalid && fname.touched" [class.is-valid]="fname.valid && fname.touched">
                <small class="text-danger" *ngIf="fname.invalid && fname.touched">First Name is required</small><br>
                <input type="text" required class="form-control" placeholder="Last Name" name="lName" [(ngModel)]="lName" #lname="ngModel" [class.is-invalid]="lname.invalid && lname.touched" [class.is-valid]="lname.valid && lname.touched">
                <small class="text-danger" *ngIf="lname.invalid && lname.touched">First Name is required</small><br>
                
                <input type="mail" required class="form-control" appWorkMailValidator placeholder="Work Mail" name="email" [(ngModel)]="email" #eMail="ngModel" [class.is-invalid]="eMail.invalid && eMail.touched" [class.is-valid]="eMail.valid && eMail.touched">
                <span *ngIf="eMail.invalid && eMail.touched">
                    <small class="text-danger" *ngIf="eMail.errors.required">Email is required</small>
                    <small class="text-danger" *ngIf="eMail.errors.workMailInvalid">Work mail required not personal mail</small>
                </span>
                <br> 
                <input type="text" required minlength="10" class="form-control" placeholder="Phone Number" name="phone" [(ngModel)]="phone" #pNumber="ngModel" [class.is-invalid]="pNumber.invalid && pNumber.touched" [class.is-valid]="pNumber.valid && pNumber.touched">
                <span *ngIf="pNumber.invalid && pNumber.touched">
                    <small class="text-danger" *ngIf="pNumber.errors.required">Phone Number is required</small>
                    <small class="text-danger" *ngIf="pNumber.errors.minlength">Phone Number must be at least 10 characters</small>
                </span>
                <br>
                <input type="password" required class="form-control" placeholder="Password" name="password" [(ngModel)]="password"><br>
                
                <p align="center"><button type="submit"  class="btn btn-danger">Submit</button></p>
            </form>

            <!-- REACTIVE FORM -->
            <!-- <button class="btn btn-success" (click)="editDetails()">Edit</button> -->
            <!-- <form class="mt-5" (submit)="submitForm()" [formGroup]="profileForm" style="border: none !important">
                <input type="text" required class="form-control mb-4" placeholder="First Name" name="fName" formControlName="fName" [class.is-invalid]="profileForm.get('fName').invalid && profileForm.get('fName').touched" [class.is-valid]="profileForm.get('fName').valid && profileForm.get('fName').touched">

                <input type="text" class="form-control mb-4" placeholder="Last Name" name="lName" formControlName="lName" [class.is-invalid]="profileForm.get('lName').invalid && profileForm.get('lName').touched" [class.is-valid]="profileForm.get('lName').valid && profileForm.get('lName').touched">
                <input type="email" class="form-control mb-4" placeholder="Email" name="email" formControlName="email" [class.is-invalid]="profileForm.get('email').invalid && profileForm.get('email').touched" [class.is-valid]="profileForm.get('email').valid && profileForm.get('email').touched">
                <input type="text" class="form-control mb-4" placeholder="Phone Number" name="phone" formControlName="phone" [class.is-invalid]="profileForm.get('phone').invalid && profileForm.get('phone').touched" [class.is-valid]="profileForm.get('phone').valid && profileForm.get('phone').touched">
                <input type="password" class="form-control mb-4" placeholder="Password" name="password" formControlName="password" [class.is-invalid]="profileForm.get('password').invalid && profileForm.get('password').touched" [class.is-valid]="profileForm.get('password').valid && profileForm.get('password').touched">
                
                <p align="center"><button type="submit"  class="btn btn-danger" [disabled]="!profileForm.valid">Submit</button></p>
            </form> -->
        </div>
    </div>
</div>